In [2]:
import pandas as pd

In [13]:
communes = pd.read_csv('data/CDR/v_commune_2023.csv', sep=',')
print(communes.head())

  TYPECOM    COM   REG DEP CTCD  ARR  TNCC                    NCC
0     COM  01001  84.0  01  01D  012     5  ABERGEMENT CLEMENCIAT  \
1     COM  01002  84.0  01  01D  011     5    ABERGEMENT DE VAREY
2     COM  01004  84.0  01  01D  011     1      AMBERIEU EN BUGEY
3     COM  01005  84.0  01  01D  012     1    AMBERIEUX EN DOMBES
4     COM  01006  84.0  01  01D  011     1                AMBLEON

                  NCCENR                  LIBELLE   CAN  COMPARENT
0  Abergement-Clémenciat  L'Abergement-Clémenciat  0108        NaN
1    Abergement-de-Varey    L'Abergement-de-Varey  0101        NaN
2      Ambérieu-en-Bugey        Ambérieu-en-Bugey  0101        NaN
3    Ambérieux-en-Dombes      Ambérieux-en-Dombes  0122        NaN
4                Ambléon                  Ambléon  0104        NaN

Modele Table Commune:
- idCommune char(5) PRIMARY KEY
- nomCommune varchar(45) 
- idDepartement varchar(3) REFERENCES DEPARTEMENT(idDepartement)

In [9]:
departements = pd.read_csv('data/CDR/v_departement_2023.csv', sep=',')
print(departements.head())

# On print le plus long nom de departement
print(departements['LIBELLE'].str.len().max())

  DEP  REG CHEFLIEU  TNCC                      NCC                   NCCENR
0  01   84    01053     5                      AIN                      Ain  \
1  02   32    02408     5                    AISNE                    Aisne
2  03   84    03190     5                   ALLIER                   Allier
3  04   93    04070     4  ALPES DE HAUTE PROVENCE  Alpes-de-Haute-Provence
4  05   93    05061     4             HAUTES ALPES             Hautes-Alpes

                   LIBELLE
0                      Ain
1                    Aisne
2                   Allier
3  Alpes-de-Haute-Provence
4             Hautes-Alpes
23

Modele Table Departement:

- idDepartement: varchar(3) PRIMARY KEY
- nomDepartement: varchar(23)
- cheflieu : CHAR(5) references COMMUNE(idCommune) NULL Allowed
- idRegion: int references REGION(idRegion)

In [10]:
regions = pd.read_csv('data/CDR/v_region_2023.csv', sep=',')
print(regions)

# On regarde la longueur max des noms de région
print(regions['CHEFLIEU'].apply(len).max())

    REG CHEFLIEU  TNCC                         NCC
0     1    97105     3                  GUADELOUPE  \
1     2    97209     3                  MARTINIQUE
2     3    97302     3                      GUYANE
3     4    97411     0                  LA REUNION
4     6    97608     0                     MAYOTTE
5    11    75056     1               ILE DE FRANCE
6    24    45234     2         CENTRE VAL DE LOIRE
7    27    21231     0     BOURGOGNE FRANCHE COMTE
8    28    76540     0                   NORMANDIE
9    32    59350     4             HAUTS DE FRANCE
10   44    67482     2                   GRAND EST
11   52    44109     4            PAYS DE LA LOIRE
12   53    35238     0                    BRETAGNE
13   75    33063     3          NOUVELLE AQUITAINE
14   76    31555     1                   OCCITANIE
15   84    69123     1        AUVERGNE RHONE ALPES
16   93    13055     0  PROVENCE ALPES COTE D AZUR
17   94    2A004     0                       CORSE

                        NCCENR                     LIBELLE
0                   Guadeloupe                  Guadeloupe
1                   Martinique                  Martinique
2                       Guyane                      Guyane
3                   La Réunion                  La Réunion
4                      Mayotte                     Mayotte
5                Île-de-France               Île-de-France
6          Centre-Val de Loire         Centre-Val de Loire
7      Bourgogne-Franche-Comté     Bourgogne-Franche-Comté
8                    Normandie                   Normandie
9              Hauts-de-France             Hauts-de-France
10                   Grand Est                   Grand Est
11            Pays de la Loire            Pays de la Loire
12                    Bretagne                    Bretagne
13          Nouvelle-Aquitaine          Nouvelle-Aquitaine
14                   Occitanie                   Occitanie
15        Auvergne-Rhône-Alpes        Auvergne-Rhône-Alpes
16  Provence-Alpes-Côte d'Azur  Provence-Alpes-Côte d'Azur
17                       Corse                       Corse
5

Modele table Region:

- idRegion: int PRIMARY KEY
- nomRegion : varchar(26)
- cheflieu : char(5) references COMMUNE(idCommune) NULL Allowed